<br/>
<div>
    <!-- TODO(hbt) use model.get instead of model.attributes -->
    <!-- TODO(hbt) add label -->
    <input type="text" id="task-{{model.attributes.id}}" value="{{model.attributes.content}}"/>
    <br/>
</div>